<!DOCTYPE html>
<!--
Template Name: BikeGuide
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="">
<head>
<title>BikeGuide</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all" id="Teste">
</head>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->

    <div class="fl_right">
      <ul>
        <li><a href='index'><span class="fa fa-lg fa-home"></span></a></li>
        <li><a><%= link_to 'Login', user_sessions_new_path =%></a></li>
        <li><a href="#"> Register</a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1>BikeGuide</h1>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>Equipe BikeGuide:</strong><br>
          +55 (81) 3265 0168</li>
        <li><strong>Lee Adama</strong><br>
          +55 (81) 3456 6654</li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </header>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><%= link_to 'Home', root_path =%></li>
      <li><a href="#">Perfil de Usuário</a></li>
      <li><a href="#">Histórico</a></li>
      <li><a href="#">Favoritos</a></li>
    </ul>
    <!-- ################################################################################################ --> 
  </nav>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<h2><p><b></b>Sobre nós</b></p></h2>
<body>Somos um grupo de alunos de graduação do curso de Sistemas de Informação da Universidade Federal de Pernambuco, 
que se uniram para promover a criaçãode uma aplicação web, estimulados por uma atividade acadêmica da disciplina de Engenharia de Software, que
visa propor aos ciclistas da Cidade do Recife um novo e inovador mecanismo de busca. O BikeGuide
tem como proposta levar aos apaixonados por ciclismo urbano, rotas pela Cidade para melhor conhece-la, com a opção
de escolher por quais pontos turisticos o usuário deseja visitar quando for percorrer a sua rota. Com preocupação
na segurança dos ciclistas recifenses, o BikeGuide também traz como uma proposta a promoção de rotas mais seguras para
o usuário.</body>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body --> 
    <!-- ################################################################################################ -->
    <ul class="nospace group">
      <li class="one_third first">
        <article><i class="btmspace-30 fa fa-4x fa-american-sign-language-interpreting"></i>
          <footer><a class="btn" href="contato">Contato </a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><i class="btmspace-30 fa fa-4x fa-resistance"></i>
          <footer><a class="btn" href="sobrenos">Sobre Nós </a></footer>
        </article>
      </li>
    </ul>
    
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS --> 
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
